<div class="nimbus-bar">
  <ion-header>
    <ion-toolbar primary *ngIf="showMenu">
      <button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        {{title}}
      </ion-title>
      <ion-buttons end>
        <button (click)="openCart()">
          <ion-icon name="cart"></ion-icon>{{cartService.cart.count}}
        </button>
      </ion-buttons>
    </ion-toolbar>
    <ion-navbar primary *ngIf="!showMenu">
      <ion-title>
        {{title}}
      </ion-title>
      <ion-buttons end>
        <button (click)="openCart()">
          <ion-icon name="cart"></ion-icon>{{cartService.cart.count}}
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
</div>
