// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.
@import "../pages/home/home.scss";

@import "../pages/search/search";

@import "../pages/item-details/item-details";

@import "../pages/signup/signup.scss";

@import "../pages/login/login.scss";

@import "../pages/dispensary/dispensary.scss";

@import "../pages/cart/cart.scss";

@import "../pages/order-details/order-details.scss";

@import "../pages/checkout/checkout.scss";

@import "../pages/checkout-modal/checkout-modal.scss";

ion-content {
  background: color($colors, background, base);
}

ion-menu {
  ion-content {
    background: #fff;
  }
}

.error-message {
  color: #f53d3d !important;
}

ion-page > ion-content > scroll-content {
	margin-top: 40px; //TODO: do not use fixed pixel margining, should be auto set by Ionic, look into scroll-content margining
};

.platform-ios ion-page > ion-content > scroll-content {
	margin-top: 26px; //TODO: do not use fixed pixel margining, should be auto set by Ionic, look into scroll-content margining
};

.platform-android ion-page > ion-content > scroll-content {
	margin-top: 40px; //TODO: do not use fixed pixel margining, should be auto set by Ionic, look into scroll-content margining
};
