<div class="card-modal" style="width: 80%; height: 60%; min-height: 0; max-height: 250px; top: 20%; left: 10%; right: 10%; bottom: 20%; position: absolute;">

  <form [formGroup]="cardForm" (ngSubmit)="submit()">
      <ion-toolbar>
        <ion-buttons start>
          <button ion-button icon-only (click)="dismiss()">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-buttons>
        <ion-title>
          <p>Add Card</p>
        </ion-title>
      </ion-toolbar>
    <ion-item>
      <ion-label floating>Creditcard #</ion-label>
      <ion-input type="text" formControlName="number" (change)="cardNumberChanged = true;"></ion-input>
      <ion-icon *ngIf="!cardForm.controls.number.valid  && (cardNumberChanged)" name="radio-button-on" danger item-right></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label floating>CVC</ion-label>
      <ion-input type="text" formControlName="cvc" (change)="cvcChanged = true;"></ion-input>
      <ion-icon *ngIf="!cardForm.controls.cvc.valid  && (cvcChanged)" name="radio-button-on" danger item-right></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label floating>Exp. Month (mm)</ion-label>
      <ion-input type="text" formControlName="exp_month" (change)="expMonthChanged = true;"></ion-input>
      <ion-icon *ngIf="!cardForm.controls.exp_year.valid  && (expMonthChanged && expYearChanged)" name="radio-button-on" danger item-right></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label floating>Exp. Year (yyyy)</ion-label>
      <ion-input type="text" formControlName="exp_year" (change)="expYearChanged = true;"></ion-input>
      <ion-icon *ngIf="!cardForm.controls.exp_year.valid  && (expMonthChanged && expYearChanged)" name="radio-button-on" danger item-right></ion-icon>
    </ion-item>
    <ion-item class="no_bottom_border" *ngIf="errorMessage">
      <p class="error-message">{{errorMessage}}</p>
    </ion-item>
    <ion-item class="no_bottom_border">
      <ion-buttons end>
        <button ion-button type="submit" small [disabled]="!cardForm.valid">Submit</button>
      </ion-buttons>
    </ion-item>
  </form>
</div>
