<ion-header>
  <ion-navbar primary>
    <ion-title>
      My Cart
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cart">
  <div *ngIf="cart.content">
    <ion-card>
      <ion-list>
        <ion-list-header>
          Green Cross Demo
        </ion-list-header>
        <button ion-item (click)=editItem(item) *ngFor="let item of cart.content">
          <ion-avatar item-left>
            <img src="{{cartService.getItemThumbnail(item)}}">
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <p>Total: ${{item.price}} | Qty: {{item.quantity}}</p>
          <ion-icon item-right name="close-circle" (click)="cartService.removeFromCart(item)"></ion-icon>
        </button>
      </ion-list>
      <button full secondary (click)="checkoutCart($event)">
        CHECKOUT
      </button>
    </ion-card>
  </div>
</ion-content>
