<ion-header>
  <ion-navbar primary>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="cart.content">
    <ion-list>
      <ion-item *ngFor="let item of cart.content">
        <ion-avatar item-left>
          <img src="{{item.img}}">
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>${{item.price}} | {{item.quantity}}</p>
        <ion-icon item-right name="close-circle" (click)="cartService.removeFromCart(item)"></ion-icon>
      </ion-item>
      <ion-item>
        <h2>${{cartService.cart.total}} | Total</h2>
        <button item-right primary (click)="goToOrders()">
          My Orders
          <ion-icon name='cloud'></ion-icon>
        </button>
        <button item-right primary outline (click)="placeOrder()">
          Checkout
          <ion-icon name='checkmark'></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
