<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{selectedItem.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToCart()">
        <ion-icon name="cart"></ion-icon>{{cartService.itemCount}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="item-details">
 <span *ngIf="selectedItem" class="selection">
   <ion-row responsive-md>
     <ion-col width-50>
       <ion-card id="item-images">
        <div id="item-logo-wrapper">
          <ion-slides [options]="slideOptions">
            <ion-slide *ngFor="let image of selectedItem.images">
              <img src={{image}} class="item-image"/>
            </ion-slide>
          </ion-slides>
        </div>
      </ion-card>
    </ion-col>
    <ion-col width-50>
      <ion-card id="item-info">
        <ion-card-header>
          {{selectedItem.name}}
        </ion-card-header>
        <ion-card-content>
          <p>
            <ion-badge color="green">{{selectedItem.subspecies}}</ion-badge>
            <ion-badge color="lightgreen">{{itemSpec}}</ion-badge>
            <rating [(ngModel)]="rating" readOnly="true"></rating>
          </p>
          <p style="white-space: pre-line;">
            {{selectedItem.description}}
          </p>
          <ion-list no-lines>
            <ion-list-header *ngIf="dynamicSlider" no-lines>
              <ion-badge color="secondary" item-right>{{selectedItem.price_labels[quantity]}}</ion-badge>
            </ion-list-header>
            <ion-item *ngIf="dynamicSlider">
              <ion-range min="0" [max]="selectedItem.prices.length - 1" step="1" snaps="true" color="secondary" [(ngModel)]="quantity" >
              </ion-range>
            </ion-item>
            <ion-item *ngIf="!dynamicSlider">
              <ion-label>Select Quantity</ion-label>
              <ion-select [(ngModel)]="quantity">
                <ion-option *ngFor='let i of quantityRange'>{{i}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-card-content>
        <button *ngIf="dynamicSlider" ion-button icon-left color="secondary" full (click)="addToCart(selectedItem, quantity)" [disabled]=disabled>
          <ion-icon name='cart'></ion-icon>
          Add to Cart (${{selectedItem.prices[quantity]}})
        </button>
        <button *ngIf="!dynamicSlider" ion-button icon-left color="secondary" full (click)="addToCart(selectedItem, quantity)" [disabled]=disabled>
          <ion-icon name='cart'></ion-icon>
          Add to Cart (${{selectedItem.prices[0] * quantity}})
        </button>
      </ion-card>
      <ion-card>
        <ion-item>
          <h2>Reviews ({{selectedItem.reviews.length}})</h2>
          <button item-right icon-left ion-button color="secondary" (click)="writeReview(selectedItem)" *ngIf="auth._currentUserData">
            <ion-icon name="chatbubbles"></ion-icon>
            Write a review
          </button>
        </ion-item>
        <ion-list *ngIf="selectedItem.reviews.length > 0">
          <ion-item text-wrap *ngFor="let review of selectedItem.reviews">
            <ion-avatar item-left>
              <img src="assets/img/square_missing.png">
            </ion-avatar>
            <h2>{{review.name}}</h2>
            <rating [(ngModel)]="review.rating" readOnly="true"></rating>
            <p style="white-space: pre-line;">
              {{review.comment}}
            </p>
          </ion-item>
        </ion-list>
        <ion-item text-wrap *ngIf="selectedItem.reviews.length == 0">
          <p>No reviews yet, feel free to leave one and share your experience</p>
        </ion-item>
      </ion-card>
    </ion-col>
   </ion-row>
  </span>
</ion-content>
