item-details {
  ion-col {
    margin-bottom: 0px !important;
    padding: 0px !important;
  }

  div.selection {
    font-size: 22px;
    display: block;
    text-align: center;
    padding-top: 5%;
  }

  button {
    margin: 0 !important;
  }

  @media (max-width: 767px) {
    #item-images {
      margin-bottom: 0px !important;
    }

    #item-info {
      margin-top: 0px !important;
    }
  }
}
