item-details {
  ion-col {
    margin: auto;
    padding: 0px !important;
  }

  div.selection {
    font-size: 22px;
    display: block;
    text-align: center;
    padding-top: 5%;
  }

  button {
    margin: 0 !important;
  }
}
