item-details {
  ion-row {
    max-width: 900px;
    margin: auto;
  }
  ion-col {
    margin-bottom: 0px !important;
    padding: 0px !important;
  }

  div.selection {
    font-size: 22px;
    display: block;
    text-align: center;
    padding-top: 5%;
  }

  button {
    margin: 0 !important;
  }

  @media (max-width: 767px) {
    #item-images {
      margin-bottom: 0px !important;
    }

    #item-info {
      margin-top: 0px !important;
    }
  }

  .review_text {
    padding-left: 7.4rem;
    white-space: pre-line;
    padding-bottom: 2rem;
    word-break: break-word;
    padding-right: 2rem;
    margin-top: -2rem;
  }
}
