home {
  .home-two {
      background: url(https://d375e1b1g1c73t.cloudfront.net/images/home-elements_intro-bg-007c05e060eccbaeaa1905e25accb215.jpg) center/cover no-repeat #ddd;
      color: #000;
      display: table;
      height: 460px;
      height: 100vh;
      text-align: center;
      width: 100%;
  }
  .home-title {
    font-size: 32px;
  }
  .home-title-2 {
    font-size: 24px;
    font-weight: 400;
  }
  .home-title-3 {
    font-size: 16px;
  }
  .home-two-content {
      display: table-cell;
      padding: 60px 0!important;
      vertical-align: middle;
  }
  .home-two-down-arrow {
      background: url(https://d375e1b1g1c73t.cloudfront.net/images/home-two-down-arrow-bff89a8af1b84a2db1b38d1822d1d041.png) center/33px 16px no-repeat;
      height: 16px;
      margin: 0 auto;
      width: 33px;
  }
  .home-two-answer-section {
      margin-top: 24px;
      margin-bottom: 60px;

      button {
        padding: 1em 1.5em !important;
      }
  }
  @media (max-width: 499px) {
    .home-two-content {
        padding: 24px!important;
    }
  }
}
