.getting-started {

  p {
    margin: 20px 0;
    line-height: 22px;
    font-size: 16px;
  }
}

ion-card-content.nimbus-home-card {
  padding: 0;
}

ion-searchbar.nimbus-home-search {
  padding: 0;
}
