<ion-header>
  <ion-navbar color="primary">
  </ion-navbar>
</ion-header>

<ion-content class="dispensary">
  <div *ngIf="selectedDispensary" class="selection">
    <ion-row responsive-md>
      <ion-col width-50>
        <div *ngFor="let category of menuCategories">
          <h2 class="category-name">{{category.name}}</h2>
          <div *ngFor="let item of category.items">
            <ion-card id="dispensary-card">
              <ion-item detail-none text-wrap tappable (click)="itemSelected($event, item)">
                <ion-avatar item-left>
                  <img src="{{cartService.getItemThumbnail(item)}}">
                </ion-avatar>
                <h2 class="product-name">{{item.name}}</h2>
                <h2 class="strain" *ngIf="item.subspecies" color="{{item.subspecies.toLowerCase()}}">{{item.subspecies}}</h2>
                <p>{{renderItemDescription(item)}}</p>
                <button ion-fab item-right color="secondary" (click)="addToCart($event, item)" [disabled]="isItemDisabled(item)">
                  {{renderItemPrice(item)}}
                  <ion-icon name="cart"></ion-icon>
                </button>
              </ion-item>
            </ion-card>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
