<ion-header>
  <ion-navbar primary>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      My Profile
    </ion-title>
  </ion-navbar>
</ion-header>
<!-- TODO: remove the ng ifs -->
<ion-content>
  <ion-list *ngIf="email">
    <ion-list-header>
      Contact
    </ion-list-header>
    <button ion-item>
      {{firstName}} {{lastName}}, {{email}}
    </button>
  </ion-list>

  <ion-list *ngIf="email">
    <ion-list-header>
      Delivery Addresses
    </ion-list-header>
    <button ion-item *ngFor="let address of addresses">
      <b>{{address.streetAndNumber}}, {{address.aptNumber}}</b>, {{address.city}}, {{address.province}}, {{address.postalCode}}
    </button>
    <button ion-item detail-none (click)="addAddress()">
      <span danger>Add another address</span>
    </button>
  </ion-list>

  <ion-list *ngIf="email">
    <ion-list-header>
      Payment
    </ion-list-header>
    <ion-item *ngFor="let card of cards">
      <ion-icon item-left name="card"></ion-icon>
      {{card.brand}} ending in {{card.last4}}
    </ion-item>
    <button ion-item (click)="addCreditCard()">
      <span item-right>
        Add Payment Card
      </span>
    </button>
  </ion-list>

  <ion-list *ngIf="email">
    <button full white (click)="signOut()">
      <span secondary>Sign Out</span>
    </button>
  </ion-list>
</ion-content>
