.getting-started {

}

ion-card-content.search-card {
  padding: 0;
}

ion-searchbar.search-search {
  padding: 0;
}

.toolbar-background {
  border-color: color($colors, primary, base) !important;
}
