<!-- <nimbus-bar title="Nimbus" [showMenu]=true></nimbus-bar> -->
<ion-header>
  <ion-navbar primary>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{firstToUpperCase(searchMode)}} Order</ion-title>
    <ion-buttons end>
      <button (click)="goToCart()">
        <ion-icon name="cart"></ion-icon>{{cartService.cart.count}}
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar primary>
    <ion-segment [(ngModel)]="searchMode" white>
      <ion-segment-button value="mail" (click)="loadDispensaries('mail')">
        <ion-icon name="mail"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="delivery" (click)="loadDispensaries('delivery')">
        <ion-icon name="car"></ion-icon>

      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>


</ion-header>

<ion-content class="search" [ngSwitch]="searchMode">
  <!-- <div *ngSwitchCase="'mail'"> -->
    <!-- <ion-card *ngFor="let dispensary of dispensaries" (click)="dispensarySelected($event, dispensary)">
      <button ion-item>
        <ion-thumbnail item-left>
          <img src={{dispensary.avatar_url}}>
        </ion-thumbnail>
        <h2>{{dispensary.name}}</h2>
        <p>{{dispensary.address}}</p>
      </button>
    </ion-card> -->
    <ion-card class="dispensary-avatar" *ngFor="let dispensary of dispensaries">
      <img src={{dispensary.avatar_url}} (click)="dispensarySelected($event, dispensary)">
      <button ion-item detail-none (click)="dispensarySelected($event, dispensary)">
        <h2>{{dispensary.name}}</h2>
        <p>{{dispensary.address}}</p>
      </button>
    </ion-card>

  <!-- </div> -->
  <!-- <div *ngSwitchCase="'delivery'">
    <ion-card>
      <ion-item>
        Same day delivery coming soon!
      </ion-item>
    </ion-card>
  </div>
  <div *ngSwitchCase="'pickup'">
      <div style="height: 100%;" id="map_canvas"></div>
  </div> -->
</ion-content>
