// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.menu {
  .list-ios > .item-block:first-child {
    border-top: 0.55px solid;
    border-color: color($colors, dark, base) !important;
  }
  ion-list-header {
    background-color: color($colors, primary, base) !important;
    border-top: 1px solid #333;
    border-bottom: 0px !important;
    color: #666 !important;
  }
  background-color: color($colors, background, base) !important;
}

ion-content {
  background: color($colors, background, base) !important;
}

ion-select {
  max-width: 100% !important;
}

body {
  position: relative !important;
  margin: 0 auto !important;
}

#address_select .select-text{
  white-space: pre-line;
}

.error-message {
  color: #f53d3d !important;
  white-space: normal !important;
  word-wrap: break-word !important;
}

.capitalize {
   text-transform: capitalize;
}

p.align-center {
  text-align: center;
  padding: 0 12px 0 12px;
}


#explore-nimbus {
  .toolbar-background {
    background-color: transparent !important;
  }
}

ul {
  padding: 0px;
  margin: 0px 0px;

  &.rating li {
    padding: 0px 0px !important;
    background: none;
    color: #059361;

    ion-icon {
      font-size: 20px;
    }
  }
}

#drift-widget {
  margin-bottom: 40px;
}
