<ion-header>
  <ion-navbar primary>
    <ion-title>{{selectedDispensary.name}}</ion-title>
    <ion-buttons end>
      <button (click)="goToCart()">
        <ion-icon name="cart"></ion-icon>{{cartService.cart.count}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <span *ngIf="selectedDispensary" class="selection">
    <ion-card>
      <div id="dispensary-logo-wrapper">
        <img src={{selectedDispensary.avatar_url}} class="dispensary-logo"/>
      </div>
      <ion-card-content>
        <ion-card-title>
          {{selectedDispensary.name}}
        </ion-card-title>
        <p>
          {{selectedDispensary.description}}
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-list-header>
        Products
      </ion-list-header>
      <span *ngFor="let category of menuCategories">
        <ion-list>
          <button ion-item detail-none class="item-stable"
                    (click)="toggleMenuCategory(category)"
                    [class.active]="!isCategoryShown(category)">
            <h2>{{category.name}}</h2>
            <ion-icon [name]="isCategoryShown(category) ? 'none' : 'arrow-dropdown'" item-right></ion-icon>
          </button>
        </ion-list>
        <ion-list>
          <button ion-item *ngFor="let item of category.items"
                    (click)="itemSelected($event, item)"
                    class="item-accordian"
                    [hidden]="!isCategoryShown(category)">
            <ion-avatar item-left>
              <img src="{{item.images[0]}}">
            </ion-avatar>
            <h2>{{item.name}}</h2>
            <p>{{item.subspecies}} | THC: {{item.thc}}%</p>
          </button>
        </ion-list>
      </span>
    </ion-card>
  </span>
</ion-content>
