.home {
  ion-grid {
    height: 100%;
  }
  ion-row {
    -webkit-flex: 1;
    -webkit-align-items: center;
    height: 100%;
  }
  ion-col {
    height: 100%;
    display: flex;
    align-items: center;
    h1 {
      text-align: center;
    }
  }

  .home-logo {
    -webkit-flex: 3;
  }

  .auth-buttons {
    -webkit-flex: 2;
  }
}
