<ion-header>

  <ion-navbar color="primary">
    <ion-title>Checkout</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="checkout">
    <ion-list>
      <ion-list-header>
        <ion-label>Shipping Details</ion-label>
      </ion-list-header>
      <ion-item text-wrap id="address_select" *ngIf="user && user.addresses.length > 0">
        <ion-select [selectOptions]="addressOptions" [(ngModel)]="selectedAddress" *ngIf="user">
          <ion-option *ngFor="let address of user.addresses" [value]="address"><b>{{address.streetAndNumber}}</b>, {{address.city}}, {{address.province}}, {{address.postalCode}}, Canada</ion-option>
        </ion-select>
      </ion-item>
      <button *ngIf="!user || (user && user.addresses.length < 1)" ion-item detail-none (click)="addAddress()">
        Add an address
        <ion-icon name="add" item-right></ion-icon>
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-label>Credit Card Details</ion-label>
      </ion-list-header>
      <ion-item *ngIf="user && user.cards.length > 0">
        <ion-icon item-left name="card"></ion-icon>
        <ion-select [selectOptions]="cardOptions" [(ngModel)]="selectedCard">
          <ion-option *ngFor="let card of user.cards" [value]="card">{{card.brand}} ending in {{card.last4}}</ion-option>
        </ion-select>
      </ion-item>
      <button *ngIf="!user || (user && user.cards.length < 1)" ion-item detail-none (click)="addCreditCard()">
        Add a credit card
        <ion-icon name="add" item-right></ion-icon>
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-label>Verification Documents</ion-label>
      </ion-list-header>
      <button ion-item detail-none *ngIf="user && user.documents.length > 0" (click)="goToDocumentsPage()">
        <ion-icon item-left name="document"></ion-icon>
        View available documents
      </button>
      <ion-item detail-none *ngIf="user && user.documents.length < 2">
        Add government id
        <input type="file" accept="image/*;capture=camera" (change)="onChange($event, 'identification')"/>
        <ion-icon name="camera" item-right></ion-icon>
      </ion-item>
      <ion-item detail-none *ngIf="user && user.documents.length < 2">
        Add medical documentation
        <input type="file" accept="image/*;capture=camera" (change)="onChange($event, 'medical')"/>
        <ion-icon name="camera" item-right></ion-icon>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-label>Order Summary</ion-label>
      </ion-list-header>
      <ion-item text-wrap no-lines *ngFor="let item of order.order_details">
        <p>{{item.name}} X {{item.quantity}}</p>
        <p class="item-price" item-right>{{item.price | currency:'USD':true:'1.2-2'}}</p>
      </ion-item>
      <ion-item text-wrap>
        <p align="right">Subtotal: {{order.total_price | currency:'USD':true:'1.2-2'}}</p>
        <p align="right">Delivery Charges: {{order.delivery_fee | currency:'USD':true:'1.2-2'}}</p>
        <p align="right">Sales Tax (13.0%): {{order.tax_amount | currency:'USD':true:'1.2-2'}}</p>
        <h3 align="right">Order Total: {{order.total_price*1 + order.delivery_fee*1 + order.tax_amount*1| currency:'USD':true:'1.2-2'}}</h3>
      </ion-item>
    </ion-list>


    <ion-list>
      <button ion-button full color="secondary" (click)="placeOrder()">PLACE ORDER</button>
      <!-- <ion-item text-wrap>
        <p>By pressing "place order" I agree to terms and conditions of the dispensary I am ordering from.</p>
      </ion-item> -->
    </ion-list>

</ion-content>
