<!-- <nimbus-bar title="Nimbus" [showMenu]=true></nimbus-bar> -->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dispensaries</ion-title>
    <ion-buttons end>
      <button ion-button icon-left (click)="goToCart()">
        <ion-icon name="cart"></ion-icon>
        {{cartService.itemCount}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="search">
  <div *ngFor="let dispensaryGroup of dispensaries">
    <ion-row responsive-md>
      <ion-col width-33 *ngFor="let dispensary of dispensaryGroup">
        <ion-card tappable (click)="dispensarySelected($event, dispensary)">
          <img src={{dispensary.avatar_url}}>
          <ion-item>
            <h2><b>{{dispensary.name}}</b></h2>
            <p>{{dispensary.address}}</p>
            <span id="rating" item-right>
              <rating [(ngModel)]="dispensary.rating" readOnly="true"></rating>
              <ion-icon color="primary">({{dispensary.reviews.length}})</ion-icon>
            </span>
          </ion-item>
          <ion-item>
            <h2>{{dispensary.bio}}</h2>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
