.search {
  ion-card-content.search-card {
    padding: 0;
  }

  ion-searchbar.search-search {
    padding: 0;
  }

  ion-app._gmapscdv_ .nav-decor {
    background-color: transparent !important;
  }

  ion-nav.has-views {
    background-color: transparent !important;
  }

  ion-card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    -webkit-filter: brightness(75%);
  }

  ion-card {
    position: relative;
    text-align: center;
    background-color: #059361;
  }

  .card-detail {
    position: absolute;
    display: block;
    top: 80px;
    height: calc(100% - 60px);
    width: 100%;

    .card-header {
      font-size: 0.75em;
      width: auto;
      max-width: 210px;
      margin: -30px auto 20px auto;
      border-radius: 3px;
      background-color: rgba(0,171,102,0.75);
      text-transform: uppercase;
      color: #fff;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    }

    .card-title {
      font-size: 1.5em;
      width: 100%;
      font-weight: bold;
      color: #fff;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    }

    .card-subtitle {
      font-size: 1.0em;
      width: 100%;
      color: #fff;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    }
  }
}
