<!-- <nimbus-bar title="Nimbus" [showMenu]=true></nimbus-bar> -->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dispensaries</ion-title>
    <ion-buttons end>
      <button ion-button icon-left (click)="goToCart()">
        <ion-icon name="cart"></ion-icon>
        {{cartService.itemCount}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="search">
  <div *ngFor="let dispensaryGroup of dispensaries">
    <ion-row responsive-md>
      <ion-col width-33 *ngFor="let dispensary of dispensaryGroup">
        <ion-card tappable (click)="dispensarySelected($event, dispensary)">
          <img src={{dispensary.avatar_url}}>
          <ion-item>
            <h2>
              <b>{{dispensary.name}}</b>
              <!-- <ion-icon color="secondary" name="checkmark-circle"></ion-icon> -->
            </h2>
            <div id="rating">
              <rating [(ngModel)]="dispensary.rating/dispensary.reviews.length" readOnly="true"></rating>
              <ion-icon id="review-number" color="primary">{{dispensary.reviews.length}} reviews</ion-icon>
            </div>
            <p>{{dispensary.address}}</p>
            <h3>{{dispensary.bio}}</h3>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
