<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Item Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
 <div *ngIf="selectedItem" class="selection">
    <ion-card>
      <div id="item-logo-wrapper">
        <img src={{selectedItem.img}} class="item-image"/>
      </div>
      <ion-card-content>
        <ion-card-title>
          {{selectedItem.name}}
        </ion-card-title>
        <p>
          {{selectedItem.description}}
        </p>
        <ion-item>
          <ion-range min="0" max="4" step="1" snaps="true" secondary [(ngModel)]="quantity">
            <ion-label range-right>{{quantityLabel}}: {{itemPrice}}</ion-label>
          </ion-range>
        </ion-item>
        <button secondary outline full>
          Add to Cart
          <ion-icon name='cart'></ion-icon>
        </button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
