<ion-header>
  <ion-navbar primary>
    <ion-title>{{selectedItem.name}}</ion-title>
    <ion-buttons end>
      <button (click)="goToCart()">
        <ion-icon name="cart"></ion-icon>{{cartService.cart.count}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
 <div *ngIf="selectedItem" class="selection">
    <ion-card>
      <div id="item-logo-wrapper">
        <ion-slides loop pager>
          <ion-slide *ngFor="let image of selectedItem.images">
            <img src={{image}} class="item-image"/>
          </ion-slide>
        </ion-slides>
      </div>
      <ion-card-content>
        <ion-card-title>
          {{selectedItem.name}}
        </ion-card-title>
        <p>
          {{selectedItem.description}}
        </p>
        <div *ngIf="displaySlider">
          <ion-item>
            <ion-range min="0" max="4" step="1" snaps="true" secondary [(ngModel)]="quantity" >
              <ion-label range-right>{{selectedItem.price_labels[quantity]}}: ${{selectedItem.prices[quantity]}}</ion-label>
            </ion-range>
          </ion-item>
        </div>
        <button primary outline (click)="addToCart(selectedItem, quantity)">
          Add to Cart
          <ion-icon name='cart'></ion-icon>
        </button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
