<ion-header>
  <ion-toolbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      My Orders
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="orders">
  <div *ngIf="orders == null || orders.length == 0">
    <ion-card padding >
      <ion-item>
        Nothing to see here...
      </ion-item>
    </ion-card>
  </div>
  <div *ngIf="orders != null">
    <ion-card *ngFor="let order of orders">
      <button ion-item detail-none (click)="goToOrderDetails($event, order)">
        <ion-thumbnail item-left>
          <img src={{order.dispensary_image}}>
        </ion-thumbnail>
        <h2>{{order.dispensary_name}}</h2>
        <p>${{order.total_price*1 + order.delivery_fee*1}} | {{order.order_details.length}} items | {{order.status}}</p>
      </button>
    </ion-card>
  </div>
</ion-content>
