<ion-header>
  <ion-toolbar primary>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      My Orders
    </ion-title>
  </ion-toolbar>
  <ion-toolbar primary>
    <ion-segment [(ngModel)]="orderSegment" white>
      <ion-segment-button value="open">
        Open Orders
      </ion-segment-button>
      <ion-segment-button value="history">
        Order History
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="orderSegment">
  <div *ngSwitchCase="'open'">
    <div *ngIf="orders == null || orders.length == 0">
      <ion-card padding >
        <ion-item>
          You don't have any open orders yet!
        </ion-item>
      </ion-card>
    </div>
    <div *ngIf="orders != null">
      <ion-card *ngFor="let order of orders">
        <ion-item (click)="toggleOrder(order)"
                  [class.active]="!isOrderShown(order)">
          <ion-thumbnail item-left>
            <img src="http://static1.squarespace.com/static/50414a88e4b0b97fe5a56a39/t/53695564e4b0e9a5f9b53913/1399412070542/">
          </ion-thumbnail>
          <h2>Shambhala Healing</h2>
          <p>${{order.total}} | {{order.items.length}} items | Packaging</p>
        </ion-item>
        <ion-item *ngFor="let item of order.items"
                  class="item-accordian"
                  [hidden]="!isOrderShown(order)">
          <ion-avatar item-left>
            <img src="{{item.img}}">
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <p>${{item.price}} | {{item.quantity}}</p>
        </ion-item>
      </ion-card>
    </div>
  </div>
  <div *ngSwitchCase="'history'">
    <div *ngIf="orders == null || orders.length == 0">
      <ion-card padding >
        <ion-item>
          You order history is empty!
        </ion-item>
      </ion-card>
    </div>
    <div *ngIf="orders != null">
    </div>
  </div>
</ion-content>
