<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Order Details
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="order-details">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
     pullingIcon="arrow-dropdown"
     pullingText="Pull to refresh"
     refreshingSpinner="circles"
     refreshingText="Refreshing...">
   </ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-list>
      <ion-list-header>
        <ion-label>Status</ion-label>
      </ion-list-header>
      <ion-item [ngSwitch]="order.status">
        <ol *ngSwitchCase="'payment_pending'">
          <li class="current">
            Awaiting Payment
            <div class="status_detail">
              <p style="">Please use the following information to email transfer your order total to complete the order.</p>
              <p>Transfer To: <b>payments@nimbusfly.co</b></p>
              <p>Amount: <b>{{order.total_price*1 + order.delivery_fee*1 + order.tax_amount*1 | currency:'USD':true:'1.2-2'}}</b></p>
              <p>Transfer Message: <b>invoice {{order.id}}</b></p>
              <p>Security Answer: <b>{{securityAnswer}}</b></p>
            </div>
          </li>
          <li>Verifying</li>
          <li>Packaging</li>
          <li> In Transit</li>
          <li> Order Complete</li>
        </ol>

        <ol *ngSwitchCase="'verifying'">
          <li class="completed">
            <ion-icon class="checkmark" name="checkmark"></ion-icon>Awaiting Payment
          </li>
          <li class="current">
            Verifying
          </li>
          <li>Packaging</li>
          <li> In Transit</li>
          <li> Order Complete</li>
        </ol>

        <ol *ngSwitchCase="'packaging'">
          <li class="completed">
            <ion-icon name="checkmark"></ion-icon>Awaiting Payment
          </li>
          <li class="completed">
             <ion-icon name="checkmark"></ion-icon> Verifying
          </li>
          <li class="current">
            Packaging
          </li>
          <li> In Transit</li>
          <li> Order Complete</li>
        </ol>

        <ol *ngSwitchCase="'in_transit'">
          <li class="completed">
            <ion-icon name="checkmark"></ion-icon>Awaiting Payment
          </li>
          <li class="completed">
             <ion-icon name="checkmark"></ion-icon> Verifying
          </li>
          <li class="completed">
            <ion-icon name="checkmark"></ion-icon> Packaging
          </li>
          <li class="current">
            In Transit
            <div *ngIf="trackingInfo && trackingInfo.tracking_status" class="status_detail">
              <p>{{trackingInfo.tracking_status.status_date | date:'medium'}}</p>
              <p>{{trackingInfo.tracking_status.status_details}}</p>
              <p>{{trackingInfo.tracking_status.location.city}}, {{trackingInfo.tracking_status.location.state}}</p>
              <button ion-button color="secondary" clear small icon-left>
                <ion-icon name="pin"></ion-icon>
                View on Map
              </button>
            </div>
          </li>
          <li> Order Complete</li>
        </ol>

        <ol *ngSwitchCase="'completed'">
          <li class="completed">
            <ion-icon name="checkmark"></ion-icon>Awaiting Payment
          </li>
          <li class="completed">
            <ion-icon name="checkmark"></ion-icon> Verifying
          </li>
          <li class="completed">
            <ion-icon name="checkmark"></ion-icon> Packaging
          </li>
          <li class="completed">
            <ion-icon name="checkmark"></ion-icon> In Transit
          </li>
          <li class="completed">
            <ion-icon name="checkmark"></ion-icon> Order Complete
          </li>
        </ol>

        <ol *ngSwitchCase="'declined'">
          <li class="completed">
            <ion-icon name="checkmark"></ion-icon>Awaiting Payment
          </li>
          <li class="completed">
             <ion-icon name="checkmark"></ion-icon> Verifying
          </li>
          <li class="completed">
             <ion-icon name="checkmark"></ion-icon> Refunded
          </li>
          <li class="current">
            Order Declined
            <!--TODO: Dynamic reason-->
            <div class="status_detail">
              <p>Your documents were not verified.</p>
            </div>
          </li>
        </ol>

        <ol *ngSwitchDefault>
          <li class="current">
            Awaiting Payment
            <div class="status_detail">
              <p>Please use the following information to email transfer your <b>order total</b> to complete the order.</p>
              <p>Transfer To: <b>payment@nimbusfly.co</b></p>
              <p>Transfer Description: <b>invoice {{order.id}}</b></p>
              <p>Security Answer: <b>{{securityAnswer}}</b></p>
            </div>
          </li>
          <li>Verifying</li>
          <li>Packaging</li>
          <li> In Transit</li>
          <li> Order Complete</li>
        </ol>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card *ngIf="address">
    <ion-list>
      <ion-list-header>
        Deliver To
      </ion-list-header>
      <ion-item>
        <ion-icon item-left name="home"></ion-icon>
        {{address.primary}} {{address.secondary}} <br>
        {{address.locality}}, {{address.administrative_area_level_1}} <br>
        {{address.postal_code}} <br>
        Canada
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-list>
      <ion-list-header>
        <ion-label>Items</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let item of order.order_details">
        <ion-avatar item-left>
          <img src="{{cartService.getItemThumbnail(item)}}">
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>${{item.price}} • Qty: {{item.quantity}}</p>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-list>
      <ion-list-header>
        <ion-label>Payment</ion-label>
      </ion-list-header>
      <ion-item text-wrap>
        <p align="right">Subtotal: {{order.total_price | currency:'USD':true:'1.2-2'}}</p>
        <p align="right">Delivery Charges: {{order.delivery_fee | currency:'USD':true:'1.2-2'}}</p>
        <p align="right">Sales Tax (13.0%): {{order.tax_amount | currency:'USD':true:'1.2-2'}}</p>
        <h3 align="right">Order Total: {{order.total_price*1 + order.delivery_fee*1 + order.tax_amount*1 | currency:'USD':true:'1.2-2'}}</h3>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
